<%- include('header'); -%>
<div>
    This is a about section
    <p>asjdsaldjsakd klsajdsakldjas kjsd askdjsa dkjsa dlkjsd ksljd askdjsa djskdlj foirutr e irutret riotuer uetoireptu</p>
</div>
<%- include('footer'); -%>